<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .weather-box {
            outline: solid 1px black;
            padding: 10px;
            overflow-wrap: break-word;
        }
        
        .image-box {
            outline: solid 1px gray;
            padding: 4px;
            font-size: 16pt;
        }

        .image-p {
            padding: 10px;
            margin: 0px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div>

    <div class="container">
        {% for content in news_content%}
            
            <h2>Latest Mars News</h2>
            <h4>{{ content.news_title }}</h4>
            <p>{{ content.news_blurb }}</p>

            <div class="row">
                <div class="col-sm-8">
                    <h2>Featured Mars Image</h2>
                    <img class="img-responsive" src= {{ content.featured_image_url }} />
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-12 weather-box">
                        <h3>Current Weather on Mars</h3>
                        <p>{{ content.mars_weather }}</p>
                    </div>
                    <div class="col-sm-12 box">
                       <h3>Mars Facts</h3>
                        {{ content.mars_facts | safe}}
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <h2 class="text-center">Mars Hemispheres</h2>
                <hr>
            </div>

            <div class="row">
                <div class="col-sm-6 image-box">
                    <img src= {{ content.hemisphere_image_urls[0].image_url }} width="100%" />
                    <div class="caption">
                        <p class="image-p">{{ content.hemisphere_image_urls[0].title }}</p>
                    </div>
                </div>
                <div class="col-sm-6 image-box">
                    <img src= {{ content.hemisphere_image_urls[1].image_url }} width="100%" />
                    <div class="caption">
                        <p class="image-p">{{ content.hemisphere_image_urls[1].title }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                    <div class="col-sm-6 image-box">
                        <img src= {{ content.hemisphere_image_urls[2].image_url }} width="100%" />
                        <div class="caption">
                            <p class="image-p">{{ content.hemisphere_image_urls[2].title }}</p>
                        </div>
                    </div>
                    <div class="col-sm-6 image-box">
                        <img src= {{ content.hemisphere_image_urls[3].image_url }} width="100%" />
                        <div class="caption">
                            <p class="image-p">{{ content.hemisphere_image_urls[3].title }}</p>
                        </div>
                    </div>
            </div>
        
        {% endfor %}
    </div>

</body>

</html>
